@model CabinReservationWebApplication.Models.Resort

@{
    ViewData["Title"] = "Muokkaa toimipistettä";
}

<h1>Muokkaa toimipistettä</h1>

<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ResortId" />
            <div class="form-group">
                <label asp-for="ResortName" class="control-label"></label>
                <input asp-for="ResortName" class="form-control" />
                <span asp-validation-for="ResortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tallenna" class="btn btn-primary" />
            </div>
        </form>
        @*<button onclick="window.history.go(-1);" class="btn btn-secondary">Takaisin</button>*@
        <a asp-action="Index" class="btn btn-secondary">Takaisin</a>
    </div>
</div>