
@{
    ViewData["Title"] = "Ryhdy vuokraajaksi";
}
<div style="padding:40px"></div>
<div>
    <img style="width:100%; border-radius: 25px;" src="https://cabinreservationsystemsa.blob.core.windows.net/cabinreservationsystemblob/SiteImages/mokkimaisema3.jpg" />
</div>

<div style="
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        padding: 80px;">
    
    <h1>Hei mökinvuokraaja!</h1>
    <br />
    <br />
    <label>Lähetä pyyntö ryhtyä mökinvuokraajaksi alla olevaan sähköpostiosoitteeseen, olemme sinuun yhteydessä mahdollisimman pian.</label>
    <label>Hyväksyttyämme sinut mökinvuokraajaksi saat tunnuksellesi käyttöön ominaisuuksia, joilla pääset lisäämään mökkejä palveluumme, sekä ylläpitämään olemassa olevia mökkejäsi.</label>
    <label>villagepeopleholidays@gmail.com</label>
</div>

<a asp-controller="Home" asp-action="Index" style="text-decoration:none">
    <div style="display: flex; justify-content: center; align-items: center; background-color:#3c76de; border-radius: 25px; font-size: 1.5em;">
        <div>
            <p style="color:antiquewhite; margin-top: 20%;" >Etusivulle</p>
        </div>
    </div>
</a>